/* Puede agregar estilos globales a este archivo y también importar otros archivos de estilo */

@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0px;
}
.margin-left-right-50 {
  margin-left: 50px;
  margin-right: 50px;
}
.main-container {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
